* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3;
}

a:hover {
    opacity: 0.7;
}

body {
    background-color: #06055abe;
}

.logo {
    padding-right: 80px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    background-color: rgb(47, 66, 175);
    background: #020949f5;
    height: 8vh;
    left: 92px;
}
.button-centralizado {
    text-align: center;
    font-family: fantasy;


}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0% 8% 0% 8%;
    text-align: justify;
    color: #ffffff;
    font-size: 25px;
    background-color: rgba(121, 120, 129, 0.712);
}

.borda {
    width: 100%;
    font-weight: bold;
    position: fixed;
}

.borda {
    display: inline;
    margin: 30px;
    margin-top: 15px;
}

li {
    display: inline;
    margin-right: 20px;
}

h1 {
    text-align: center;
    margin: 21px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #06055a;
    text-shadow: -1px -1px 0 #000;
}

.imagen {
    display: flex;
    justify-content: center;
    margin: 30px
}

.carousel-container {
    position: relative;
    max-width: px;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 30%;
    transition: transform 0.5s ease;
}

.carousel-slide img {
    width: 95%;
    height: auto;
    margin: 18%;
}

input[type="radio"] {
    display: none;
}


/* estilo para as imagens nos input selecionado */

#slide1:checked~.carousel-slide {
    transform: translateX(40%);
}

#slide2:checked~.carousel-slide {
    transform: translateX(-40%);
    margin-right: 80px;
}

#slide3:checked~.carousel-slide {
    transform: translateX(-90%);
    margin-right: 100px;
}

#slide4:checked~.carousel-slide {
    transform: translateX(-200%);
}

#slide5:checked~.carousel-slide {
    transform: translateX(-400%);
}


/* navegação */

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navigation label {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 8px;
  
    border-radius: 50%;
    display: inline-block;
}

#img {
    text-align: center;
    display: inline-block id="img";
    margin: 30px;
    align-items: center;
}

h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bbb;
    margin: 15px
}

footer {
    background-color: rgba(121, 120, 129, 0.712);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
}